realm={{ (onepasswordItemFields "5f33b6mllrdblosmyl6dzyrggq").realm.value }}
host={{ (onepasswordItemFields "5f33b6mllrdblosmyl6dzyrggq").host.value }}
username={{ (onepasswordDetailsFields "5f33b6mllrdblosmyl6dzyrggq").username.value }}
password={{ (onepasswordDetailsFields "5f33b6mllrdblosmyl6dzyrggq").password.value }}
