# Easier navigation:
alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"

alias d="cd $HOME/Downloads"
alias p="cd $HOME/Projects"
alias n="cd $HOME/Documents/Notes"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Make user executable
alias cux='chmod u+x'

# Takes a command which will be invoked on every line from stdin. A useful
# example: finding all directories that contain a certain file:
# find * -name models.py | map dirname
alias map="xargs -n1"

# Viewers
alias mark='open -a Marked.app'
alias mou='open -a Mou.app'

# Media
alias tube='youtube-dl'

# Utils
alias pdf-concat='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Open with default file handler in Linux, OSX
if command -v xdg-open >/dev/null; then
	alias o='xdg-open'
	alias oo='xdg-open .'
elif command -v open >/dev/null; then
	alias o='open'
	alias oo='open .'
fi;

# Clipboard access in Cygwin, Linux and OS X.
if command -v pbpaste >/dev/null; then
	alias getclip='pbpaste';
	alias putclip='pbcopy';
elif command -v xclip >/dev/null; then
	alias getclip='xclip -selection clipboard';
	alias putclip='xclip -selection clipboard -o';
fi;

# Open Quick Look from the command line
alias ql="qlmanage -p &>/dev/null"

# list TODO/FIX lines from the current project
alias todos="ack -n --nogroup '(TODO|FIX(ME)?):'"

# Git
alias g='git sh'

# Move to root-directory of git project
alias ..g='git rev-parse && cd "$(git rev-parse --show-cdup)"'

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Network
alias remoteip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# Mount all Apple HFS drives, including the Nifty Minidrive
alias nifty="/usr/sbin/diskutil list | awk '/Apple_HFS/ {print $NF}' | xargs -I{} /usr/sbin/diskutil mount {}"

# process managment
alias ttop='top -ocpu -R -F -s 2 -n30'
alias psg='ps aux | grep -v grep | grep -i'
alias ram='ps aux | awk '"'"'{print $2, $4, $11}'"'"' | sort -k2rn | head -n 20'

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"