export EDITOR=vim
export SVN_EDITOR=vim

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# bigger history
export HISTSIZE=10000
export HISTFILESIZE=${HISTSIZE}

# ignorespace ignore commands that start with spaces.
# ignoredups ignore duplicates
export HISTCONTROL=ignorespace:ignoredups

# patterns of commands that will be ignored and NOT added to history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

GREP_OPTIONS=
for PATTERN in .cvs .git .hg .svn; do
    GREP_OPTIONS="$GREP_OPTIONS --exclude-dir=$PATTERN"
done
export GREP_OPTIONS

export LESS="-F -X -R"