.vim/bundle/*
!.vim/bundle/vundle
.vim/bundle/vundle/doc/tags
.m2/mvnsh.history
*.lock
.ivy2/exclude_classifiers
.rbenv/version
.config/fontforge
.config/ranger/
.vim/plugged/
**.old
.vim/autoload
.config/netfabb/
.vim/undo
.jira.d/cookies.js
.jira.d/tmp
.config/classpath_project_ensime
.vim/spell/en.utf-8.spl
.vim/spell/en.utf-8.sug
configstore/
