.m2/mvnsh.history
*.lock
.ivy2/exclude_classifiers
.rbenv/version
.config/fontforge
.config/ranger/
.vim/plugged/
.config/nvim/plugged/
**.old
.vim/autoload
.config/nvim/autoload
.config/netfabb/
.vim/undo
.config/nvim/undo
.jira.d/cookies.js
.jira.d/tmp
.config/classpath_project_ensime
.vim/spell/en.utf-8.spl
.config/nvim/spell/en.utf-8.spl
.vim/spell/en.utf-8.sug
.config/nvim/spell/en.utf-8.sug
configstore/
.config/hub
.config/ensime-vim/
.config/gtk-2.0/
cache
certificates
.config/vdirsyncer/status/
.atom/github.cson
.delight/logs
.delight/session
.delight/schedule.cache
.aws/credentials
