[color]
	ui = auto
[user]
	name = Oliver Schrenk
	email = oliver.schrenk@gmail.com
[core]
	excludesfile = ~/.global-gitignore
[alias]
	a = add
	aa = add -A
	au = add -u
	b = branch
	bd = branch -d
	c = commit
	cam = commit --amend
    cv = commit -v
    cva = commit -v -a
	co = checkout
	cob = checkout -b
	d = diff
	dt = difftool
	ff = flow feature finish
	forget = update-index --assume-unchanged
	fs = flow feature start
	hf = flow hotfix finish
	history = !git log --reverse --pretty=oneline | cut -c41- | nl
	hs = flow hotfix start
	ignore = !echo $1 >> .gitignore
	p = push
	pom = push origin master
	pod = push origin develop
	rf = flow release finish
	rs = flow release start
	s = status
	undo = checkout HEAD
	up = pull --rebase
	
[difftool "Kaleidoscope"]	
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
