[user]
	name = Oliver Schrenk
	email = oliver.schrenk@gmail.com

[core]
	excludesfile = ~/.global-gitignore
	editor = vim


[push]
# nothing: do not push anything.
# matching: push all matching branches. All branches having the same name in both
#   ends are considered to be matching. This is the default.
# upstream: push the current branch to its upstream branch.
# tracking: deprecated synonym for upstream.
# current: push the current branch to a branch of the same name.

	default = current

[alias]
	a = add
	aa = add -A
	ai = add -i
	ap = add -p
	au = add -u

	b = branch
	branches = branch -a

	c = commit
	c1 = !git commit --file=1 && rm 1
	cam = commit --amend
	cv = commit -v
	cva = commit -v -a

	co = checkout
	cob = checkout -b

	# Credit an author on the latest commit
	## Usage: git credit "John Doe" jdoe@domain.tld
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

	d = diff
	dt = difftool

	fi = flow init
	fid = flow init -d
	fff = flow feature finish
	ffs = flow feature start
	fhf = flow hotfix finish
	fhs = flow hotfix start
	frf = flow release finish
	frs = flow release start

	history = log --reverse --format="%ai: %s"
	lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%cD%C(reset) %C(bold green)(%cr)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)' --abbrev-commit
    lg = !"git lg1"

	p = push
	phm = push origin heroku
	pod = push origin develop
	pog = push origin gh-pages
	pom = push origin master
	pov = push origin vendor
	pomd = !git pom && git pod
	pomdt = !git pom && git pod && git put

	pud = pull origin develop
	pum = pull origin master

	put = push --tags

	pop = stash pop

	remotes = remote -v

	s = status
	ss = status -s

	sd = svn dcommit
	sr = svn rebase

	tags = tag -l
	up = pull --rebase

	forget = update-index --assume-unchanged
	unstage = reset HEAD
	us = reset HEAD

[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope

[merge]
	# By default, when you merge a branch in git, you get a fairly meaningless
	# message like merge #branch 'master' of git@github.com:name/project.
	# To get a summary of the changes you're merging, turn this option on:
	summary=true
	tool = p4merge

[mergetool]
	prompt = false

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
	sh = auto

[color "branch"]
    current = red
    local = green
    remote = yellow

[color "sh"]
	branch = yellow
	workdir = white
	dirty = red