**.lock
**.old
.atom/github.cson
.aws/adfs_cookies
.aws/credentials
.config/chezmoi/
.config/classpath_project_ensime
.config/coc/suggest.txt
.config/ensime-vim/
.config/fisher
.config/fontforge
.config/gtk-2.0/
.config/hub
.config/karabiner/automatic_backups/
.config/netfabb/
.config/nvim/autoload
.config/nvim/plugged/
.config/nvim/spell/en.utf-8.spl
.config/nvim/spell/en.utf-8.sug
.config/nvim/undo
.config/ranger/
.config/tmux/plugins/
.ivy2/exclude_classifiers
.jira.d/cookies.js
.jira.d/tmp
.kube
.m2/mvnsh.history
.rbenv/version
.sbt/.credentials*
.sbt/1.0/plugins/metals.sbt
.sbt/1.0/preferences
.vim/autoload
.vim/plugged/
.vim/spell/en.utf-8.spl
.vim/spell/en.utf-8.sug
.vim/undo
cache
certificates
configstore/
fish_variables
gcloud/
history.json
jgit/
list-commands-history.json
list-diagnostics-history.json
list-extensions-history.json
list-outline-history.json
list-symbols-history.json
logs
schedule.cache
session
