# vim: syntax=ruby filetype=ruby
#######################################
# Taps
#######################################
tap "8ta4/plist"              # plist
tap "ankitpokhrel/jira-cli"   # jira-cli
tap "coursier/formulas"       # coursier
tap "epk/epk"                 # sf-mono nerd font
tap "felixkratz/formulae"     # sketchybar
tap "jakehilborn/jakehilborn" # displayplacer
tap "noahgorstein/tap"        # jqp
tap "oschrenk/made"           # tools by myself
tap "txn2/tap"                # kubefwd

# You can list all packages installed via `brew leaves`

#######################################
# Bootstrap priorities
#######################################

# having these installed early in the bootstrapping process allows
# to already configure and use services and applications while brew
# keeps installing other packages

cask "1password"          # password manager
cask "1password-cli"      # password manager
cask "alacritty"          # terminal
cask "arc"                # chromium based browser
cask "karabiner-elements" # customize keyboard
cask "hammerspoon"        # desktop automation
cask "intellij-idea-ce"   # ide for java/scala
brew "chezmoi"            # dotfiles manager
brew "fish"               # shell
brew "starship"           # prompt
brew "fzf"                # fuzzy finder
brew "neovim"             # editor
cask "obsidian"           # notes
cask "spotify"            # audio client

#######################################
# Packages
#######################################

## system
brew "blueutil"       # get/set bluetooth from terminal
brew "coreutils"      # generic, GNU core utilities
brew "fd"             # generic, fast find alternative
brew "findutils"      # generic, GNU g-prefixed `find`, xargs`
brew "gawk"           # generic, GNU awk utility
brew "oschrenk/made/sessionizer" # tmux, manage sessions
brew "ripgrep"        # generic, recursive search
brew "watch"          # issue commands at regular interval
brew "watchman"       # watch files and take action when they change

## hardware
brew "displayplacer"  # arrange monitors
brew "smartmontools"  # harddrive, read ssd info
brew "m1ddc"          # monitor, control brightness of external monitor

## crypto
brew "age"            # modern and secure encryption too
brew "croc"           # securely transfer data between computers
brew "minisign"       # sign files and verify signatures

## command line
brew "atuin"          # improved shell history
brew "bat"            # "better" cat
brew "chrome-cli"     # control chrome via cli
brew "direnv"         # auto load env
brew "entr"           # run commands on file change
brew "gh"             # interact with github
brew "glow"           # render markdown in terminal
brew "htop"           # Improved top
brew "ankitpokhrel/jira-cli/jira-cli" # interact with jira
brew "lsd"            # "better" ls
brew "page"           # Use Neovim as pager
brew "tree"           # print file tree
brew "tmux"           # terminal multiplexer

# documents
brew "pandoc"                 # document converter
brew "zola"                   # static site generator

# parsing/converting
brew "dos2unix"       # convert text between DOS, UNIX, and Mac formats
brew "jq"             # process JSON
brew "noahgorstein/tap/jqp" # tui playground for jq
brew "miller"         # process CSV
brew "xmlstarlet"     # process XML
brew "yq"             # process YAML

## network
brew "doggo"          # dns client
brew "httrack"        # copy websites offline
brew "hurl"           # run/test http requests
brew "mosh"           # better shell for roaming
brew "ngrep"          # network packet analyzer
brew "nmap"           # port scanning
brew "telnet"         # telnet protocol

## observability
brew "logcli"         # loki query

## vcs
brew "git"           # dvcs
brew "git-crypt"     # encrypt secrets in git
brew "git-delta"     # better looking diffs
brew "git-extras"    # nice git extras
brew "git-lfs"       # large file storage
brew "git-open"      # open github/gitlab urls from terminal

## a/v
brew "asciinema"     # record terminal sessions
brew "exiftool"      # read/write exif
brew "ffmpeg"        # convert audio/video
brew "flac"          # flac codec
brew "lame"          # mp3 codec
brew "libmp3splt"    # split mp3, off, flac files
brew "mp3splt"       # split mp3, off, flac files
brew "x264"          # h264 encoder
brew "xvid"          # mp4 lib
brew "yt-dlp"        # download youtube video/audio

## programming
brew "cloc"        # generic, count lines of code
brew "coursier/formulas/coursier" # jvm, scala, artifact fetching
brew "fnm"         # javascript, version manger
brew "gradle"      # kotlin, build tool
brew "go"          # go, language
brew "go-task"     # generic, go-based task runner
brew "ktfmt"       # kotlin, formatter
brew "kotlin"      # kotlin
brew "stylua"      # lua formatter
brew "maven"       # jvm, package manager
brew "node"        # javascript, language
brew "openjdk@11"  # jvm, sdk
brew "openjdk@17"  # jvm, sdk
brew "openjdk@21"  # jvm, sdk
brew "pgcli"       # postgres, just cli
brew "podman"      # generic, manage OCI contaniners and pods
brew "poetry"      # python, package manager
brew "prettier"    # generic, code formatter for js, css, json, md, yaml
brew "pyenv"       # python, version manager
brew "python"      # python, language
brew "rbenv"       # ruby, version manager
brew "ruby-build"  # ruby, version manager
brew "rust"        # rust, language
brew "sbt"         # jvm, scala
brew "shellcheck"  # shell linter
brew "scala"       # jvm, scala
brew "swiftformat" # swift, format
brew "tectonic"    # tex
brew "typescript"  # typescript, language
brew "typst"       # tex alternative (rust based)
brew "yamlfmt"     # yaml, formatter
brew "yarn"        # javascript, package manager

# cloud
brew "awscli"  # aws
brew "doctl"   # Digital Ocean
brew "pulumi"  # infrastructure as code
brew "tfenv"   # terraform version manager
brew "traefik" # reverse proxy

# k8s
brew "helm"             # k8s, package manager
brew "k9s"              # k8s, cluster manager
brew "krew"             # k8s, kubectl package manager
brew "kube-linter"      # k8s, lint k8s yaml and helm
brew "kubectl"          # k8s, cli
brew "kubectx"          # k8s, switch k8s contexts
brew "kubescape"        # k8s, scan cluster for security issues
brew "kustomize"        # k8s, template free k8s resource transformers
brew "minikube"         # k8s, run local k8s
brew "txn2/tap/kubefwd" # k8s, bulk port forwarding

# llm
brew "ollama"           # create, run llm
brew "huggingface-cli"  # hugging face

# macos
brew "dockutil"   # manage the dock
brew "fileicon"   # managing custom icons for files and folders
brew "iconsur"    # download icons from app store
brew "felixkratz/formulaesketchybar" # custom statusbar
brew "8ta4/plist/plist" # watch plist files

# waiting for https://github.com/mas-cli/mas/issues/512
# see below for replacement until then
# brew "mas"        # app store apps

#######################################
# Apps
#######################################

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  mas "Affinity Designer 2", id: 1616831348  # vector editing
  mas "Affinity Photo 2", id: 1616822987     # raster editing
  mas "Affinity Publisher 2", id: 1606941598 # book publishing
  mas 'Awesome Habits: Habit Tracker', id: 1514915737 # Habit tracker
  mas "Due", id: 524373870                   # reminders on steroid
  mas "Health Auto Export", id: 1115567069   # export apple health data
  mas "HomeControl", id: 1547121417          # apple home
  mas "Keynote", id: 409183694               # make slides
  mas "NextDNS", id: 1464122853              # dns blocking
  mas "NordVPN", id: 905953485               # NordVPN
  mas "Numbers", id: 409203825               # excel
  mas "Pages", id: 409201541                 # docs
  mas 'Parcel', id: 639968404                # Shipment tracking
  mas "Reeder 5", id: 1529448980             # rss
  mas "1Password for Safari", id: 1569813296   # 1Password extension
{{- end }}

# mas "XCode", id: 497799835  # see eof, because of size last thing to install

#######################################
# Fonts
#######################################

cask "sf-symbols"  # preview sf symbols
cask "font-fira-code"
cask "font-ia-writer-duo"
cask "font-ia-writer-quattro"
cask "font-iosevka"
cask "font-jetbrains-mono-nerd-font"
cask "font-m-plus-code-latin"
cask "font-mplus-nerd-font"
cask "font-open-sans"
cask "font-roboto-mono"
cask "font-roboto-mono-nerd-font"
cask "font-sf-mono-nerd-font"
cask "font-victor-mono"

#######################################
# Casks
#######################################

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  cask "calibre"                # ebook manager
  cask "chatgpt"                # ChatGPT
  cask "diffusionbee"           # Stable Diffusion locally
  cask "elgato-control-center"  # elgato software to control lights
  cask "flux"                   # control screen color temperature
  cask "handbrake"              # video transcoder
  cask "mindmac"                # llm api client
  cask "mochi"                  # study notes and flashcards
  cask "musicbrainz-picard"     # audio collection organizer
  cask "obs"                    # broadcasting
  cask "ollamac"                # gui for ollama
  cask "raindropio"             # bookmark managment
  cask "rode-central"           # rode companion app (for AI-1)
  cask "signal"                 # signal messaging
  cask "telegram"               # telegram messaging
  cask "the-unarchiver"         # unarchiving most archive files
  cask "topnotch"               # "hide" notch
  cask "transmission"           # torrent client
  cask "upscayl"                # upscala images with AI
  cask "utm"                    # virtual machines for macos
  cask "vlc"                    # video client
  cask "whatsapp"               # whatsapp messaging
  cask "xld"                    # cd ripper
  cask "zoom"                   # video conferencing
{{- end }}

cask "bruno"                  # test APIs
cask "google-chrome"          # browser
cask "cog"                    # audio client
cask "dbeaver-community"      # sql client
cask "db-browser-for-sqlite"  # sqlite client
cask "discord"                # discord client
cask "docker"                 # docker client
cask "firefox"                # browser
cask "hiddenbar"              # hide menu bar items
cask "hex-fiend"              # hex editor
cask "iina"                   # video client
cask "jdk-mission-control"    # monitor java applications
cask "keyboardcleantool"      # disables keyboard for cleaning
cask "keycastr"               # shows key strokes on screen
cask "knockknock"             # identify background tasks/processes
cask "monodraw"               # draw ascii art
cask "neovide"                # neovim desktop app
cask "numi"                   # calculator
cask "onyx"                   # macos maintenance
cask "omnidisksweeper"        # cleanup disk space
cask "podman-desktop"         # generic, manage containers and pods
cask "slack"                  # slack office communication
cask "visual-studio-code"     # editor

#######################################
# VS code extensions
#######################################

vscode "GitHub.copilot"              # Github Copilot
vscode "GitHub.copilot-chat"         # Github Copilot chat
vscode "alssys.interactive-scala"    # Scala, Interactive
vscode "asvetliakov.vscode-neovim"   # Neovim integration
vscode "bierner.markdown-checkbox"   # Markdown checkboxes
vscode "fwcd.kotlin"                 # Kotlin
vscode "jdinhlife.gruvbox"           # Theme, Gruvbox
vscode "ms-azuretools.vscode-docker" # Docker administration
vscode "ms-python.python"            # Python
vscode "redhat.vscode-yaml"          # Yaml, Syntax
vscode "scala-lang.scala"            # Scala, Syntax
vscode "scalameta.metals"            # Scala, Metals


#######################################
# Xcode
#######################################

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  brew "xcodes"      # xcode & runtimes manager
  # xcode takes a lot of time/space to install,
  # do it later in the process
  mas "XCode", id: 497799835
  mas "Apple Developer", id: 640199958
{{- end }}

#######################################
# These apps require full Xcode
#######################################
brew "swiftlint"   # swift, lint, requires Xcode
brew "nicerloop/nicerloop/mas" # app store apps, requires Xcode

brew "oschrenk/made/keyboard" # hardware, control keyboard brightness of macbooks
brew "oschrenk/made/nightshift" # hardware, control Night Shift
# to agree to license
# sudo xcodebuild -license
