# vim: syntax=ruby filetype=ruby

#######################################
# Taps
#######################################
tap "8ta4/extension"          # extension
tap "8ta4/plist"              # plist
tap "charmbracelet/tap"       # mods
tap "felixkratz/formulae"     # sketchybar
tap "jakehilborn/jakehilborn" # displayplacer
tap "nikitabobko/tap"         # aerospace
tap "noahgorstein/tap"        # jqp
tap "oschrenk/made"           # tools created by myself
tap "oschrenk/personal"       # casks/formula managed by me
tap "supabase/tap"            # supabase
tap "txn2/tap"                # kubefwd

# You can list all packages installed via `brew leaves`

#######################################
# Bootstrap priorities
#######################################

# having these installed early in the bootstrapping process allows
# to already configure and use services and applications while brew
# keeps installing other packages

brew "chezmoi"            # dotfiles manager
brew "fish"               # shell
brew "fzf"                # fuzzy finder
brew "neovim"             # editor
brew "starship"           # prompt
cask "1password"          # password manager
cask "1password-cli"      # password manager
cask "aerospace"          # window manager
cask "arc"                # chromium based browser
cask "ghostty"            # terminal
cask "intellij-idea-ce"   # jetbrains ide
cask "karabiner-elements" # customize keyboard
cask "obsidian"           # notes
cask "spotify"            # audio client

#######################################
# Xcode
#######################################

# Installing XCode is VERY slow, but it
# is requited by a handful of packages

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  brew "xcodes"      # xcode & runtimes manager
  # xcode takes a lot of time/space to install,
  # do it later in the process
  mas "XCode", id: 497799835
  mas "Apple Developer", id: 640199958
{{- end }}

#######################################
# Packages
#######################################

brew "8ta4/plist/plist" # maocs, watch plist files
brew "8ta4/extension/extension" # web, install browser extensions
brew "age"           # cryptography, encryption tool
brew "atuin"         # cli, improved shell history
brew "blueutil"      # system, get/set bluetooth from terminal
brew "chrome-cli"    # cli, control chrome via cli
brew "cloc"          # generic, count lines of code
brew "coreutils"     # system, generic, GNU core utilities
brew "croc"          # cryptography, secure data transfer
brew "direnv"        # cli, auto load env
brew "displayplacer" # hardware, arrange monitors
brew "dockutil"      # macos, manage the dock
brew "dos2unix"      # data, convert text between DOS, UNIX, and Mac formats
brew "fd"            # system, generic, fast find alternative
brew "felixkratz/formulae/sketchybar" # macos, custom statusbar
brew "fileicon"      # macos, manage icons
brew "findutils"     # system, generic, GNU g-prefixed `find`, xargs`
brew "fnm"           # javascript, version manger
brew "gawk"          # system, generic, GNU awk utility
brew "gh"            # cli, interact with github
brew "git"           # git, dvcs
brew "gitmoji"       # git, gitmoji
brew "git-crypt"     # git, encrypt secrets in git
brew "git-delta"     # git, better looking diffs
brew "git-extras"    # git, nice git extras
brew "git-lfs"       # git, large file storage
brew "git-open"      # git, open git[hub/lab] urls
brew "glab"          # git, gitlab cli
brew "glow"          # cli, render markdown in terminal
brew "go"            # go, language
brew "gopls"         # go, lsp
brew "go-task"       # generic, go-based task runner
brew "gradle"        # kotlin, build tool
brew "harper"        # text, grammar checker
brew "helm"          # k8s, package manager
brew "htop"          # cli, Improved top
brew "hurl"          # network, run/test http requests
brew "ical-buddy"    # macos, calendar
brew "iconsur"       # macos, fetch icons
brew "infat"         # macos, set default filetypes
brew "jd"            # data, diff JSON
brew "jira-cli" # cli, interact with jira
brew "jq"            # data, process JSON
brew "k9s"           # k8s, cluster manager
brew "kotlin"        # kotlin
brew "krew"          # k8s, kubectl package manager
brew "ktfmt"         # kotlin, formatter
brew "ktlint"        # kotlin, formatter
brew "kube-linter"   # k8s, lint k8s yaml and helm
brew "kubectl"       # k8s, cli
brew "kubectx"       # k8s, switch k8s contexts
brew "kubescape"     # k8s, scan cluster for security issues
brew "kustomize"     # k8s, resource transformers
brew "libpq"         # postgres cli
brew "lsd"           # cli, "better" ls
brew "lua"           # lua, programming language
brew "lua-language-server" # lua, lsp
brew "luarocks"      # lua, package manager
brew "mas"           # Mac App Store command-line interface
brew "m1ddc"         # hardware, monitor control
brew "mdq"           # jq but for Markdown
brew "miller"        # data, process CSV
brew "minikube"      # k8s, run local k8s
brew "minisign"      # cryptography, sign files and verify signatures
brew "noahgorstein/tap/jqp" # data, tui playground for jq
brew "node"          # javascript, language
brew "ollama"        # ai, create, run llm
brew "openjdk@17"    # jvm, sdk
brew "openjdk@21"    # jvm, sdk
brew "oschrenk/made/cutter" # web, extract cookies
brew "oschrenk/made/keyboard" # hardware, control keyboard brightness of macbooks
brew "oschrenk/made/mission" # macos, task managment
brew "oschrenk/made/nightshift" # hardware, control Night Shift
brew "oschrenk/made/plan" # productivity, fetch next event
brew "oschrenk/made/sessionizer" # tmux, manage sessions
brew "page"          # cli, Use Neovim as pager
brew "pgcli"         # postgres, just cli
brew "pgformatter"   # postgres, formatter
brew "poetry"        # python, package manager
brew "prettier"      # generic, code formatter
brew "pyenv"         # python, version manager
brew "python"        # python, language
brew "ripgrep"       # system, generic, recursive search
brew "rust"          # rust, language
brew "shellcheck"    # shell, linter
brew "smartmontools" # hardware, harddrive, read ssd info
brew "spicetify-cli" # spotify ricing
brew "sqlfluff"      # sql, formatter
brew "stylua"        # lua formatter
brew "supabase/tap/supabase" # supabase, cli
brew "supabase/tap/dbdev" # postgrs, package manager
brew "swift"         # swift, language
brew "swiftformat"   # swift, format
brew "swiftlint"     # swift, lint, requires Xcode
brew "swiftly"       # swift, toolchain manager
brew "telnet"        # network, telnet protocol
brew "tmux"          # cli, terminal multiplexer
brew "traefik"       # k8s, reverse proxy
brew "tree"          # cli, print file tree
brew "txn2/tap/kubefwd" # k8s, bulk port forwarding
brew "typescript"    # typescript, language
brew "typescript-language-server" # typescript, lsp
brew "wakatime-cli"  # cli, measure ide usage
brew "watch"         # system, issue commands at regular interval
brew "xmlstarlet"    # data, process XML
brew "yamlfmt"       # yaml, formatter
brew "yarn"          # javascript, package manager
brew "yq"            # data, process YAML
brew "zoxide"        # cli, navigate fs

# only on work machine
# work hostname is flakey, so check if NOT personal machine
{{- if not (eq .chezmoi.hostname "Olivers-MaxBook") }}
  brew "snyk-cli"    # scan for security vulnerabilities
{{- end }}

# only on pesonal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  brew "asciinema"   # a/v, record terminal sessions
  brew "awscli"      # devops, aws
  brew "charmbracelet/tap/mods" # ai, chatgpt, cli
  brew "coursier"    # jvm, scala, artifact fetching
  brew "doctl"       # devops, Digital Ocean
  brew "doggo"       # network, dns client
  brew "exiftool"    # a/v, read/write exif
  brew "ffmpeg"      # a/v, convert audio/video
  brew "flac"        # a/v, flac codec
  brew "httrack"     # network, copy websites offline
  brew "huggingface-cli" # ai, hugging face
  brew "lame"        # a/v, mp3 codec
  brew "libmp3splt"  # a/v, split mp3, off, flac files
  brew "logcli"      # O11y, query loki
  brew "maven"       # jvm, package manager
  brew "meli"        # terminal, email client
  brew "mosh"        # network, better shell for roaming
  brew "mp3splt"     # a/v, split mp3, off, flac files
  brew "ngrep"       # network packet analyzer
  brew "nmap"        # network,port scanning
  brew "oschrenk/personal/postgrestools" # postgres, lsp
  brew "oschrenk/personal/mcp-server-macos-use" # mcp, macOS
  brew "pandoc"      # docs, document converter
  brew "podman"      # generic, manage OCI contaniners and pods
  brew "sbt"         # jvm, scala
  brew "scala"       # jvm, scala
  brew "tectonic"    # tex
  brew "tfenv"       # devops, terraform version manager
  brew "typst"       # typst, tex alternative (rust based)
  brew "uv"          # python package manager
  brew "w3m"         # terminal, text based browser
  brew "x264"        # a/v, h264 encoder
  brew "xvid"        # a/v, mp4 lib
  brew "yt-dlp"      # a/v, download youtube video/audio
  brew "zola"        # docs, static site generator
{{- end }}

#######################################
# Apps
#######################################

# waiting for https://github.com/mas-cli/mas/issues/512
# see below for replacement until then
# brew "mas"        # app store apps

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  mas "Affinity Designer 2", id: 1616831348  # vector editing
  mas "Affinity Photo 2", id: 1616822987     # raster editing
  mas "Affinity Publisher 2", id: 1606941598 # book publishing
  mas "Due", id: 524373870                   # reminders on steroid
  mas "Health Auto Export", id: 1115567069   # export apple health data
  mas "HomeControl", id: 1547121417          # apple home
  mas "Keynote", id: 409183694               # make slides
  mas "NextDNS", id: 1464122853              # dns blocking
  mas "NordVPN", id: 905953485               # NordVPN
  mas "Numbers", id: 409203825               # excel
  mas "Pages", id: 409201541                 # docs
  mas 'Parcel', id: 639968404                # Shipment tracking
  mas "Reeder 5", id: 1529448980             # rss
  mas "1Password for Safari", id: 1569813296   # 1Password extension
{{- end }}

#######################################
# Fonts
#######################################

cask "sf-symbols"  # preview sf symbols
cask "font-fira-code"
cask "font-ia-writer-duo"
cask "font-ia-writer-quattro"
cask "font-iosevka"
cask "font-jetbrains-mono-nerd-font"
# cask "font-m-plus-code-latin"
# cask "font-mplus-nerd-font"
cask "font-open-sans"
cask "font-roboto-mono"
cask "font-roboto-mono-nerd-font"
cask "font-victor-mono"
cask "oschrenk/personal/font-sf-mono-nerd-font"

#######################################
# Casks
#######################################

cask "chatgpt"                # ChatGPT
cask "claude"                 # Claude
cask "dbeaver-community"      # sql client
cask "docker"                 # docker client
cask "firefox"                # browser
cask "google-chrome"          # browser
cask "google-cloud-sdk"       # cloud, google cloud cli including gcloud
cask "jdk-mission-control"    # monitor java applications
cask "huggingchat"            # chat client for local llm
cask "keyboardcleantool"      # disables keyboard for cleaning
cask "monodraw"               # draw ascii diagrams
cask "neovide"                # neovim desktop app
cask "pika"                   # Color Picker
cask "sequel-ace"             # MySQL client
cask "yellowdot"              # Hide screen/audio indicator

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  cask "blender"               # 3d editor
  cask "bruno"                 # test APIs
  cask "calibre"               # ebook manager
  cask "cog"                   # audio client
  cask "db-browser-for-sqlite" # sqlite client
  cask "diffusionbee"          # Stable Diffusion locally
  cask "discord"               # discord client
  cask "elgato-control-center" # elgato software to control lights
  cask "flux"                  # control screen color temperature
  cask "handbrake"             # video transcoder
  cask "hex-fiend"             # hex editor
  cask "iina"                  # video client
  cask "keycastr"              # shows key strokes on screen
  cask "knockknock"            # identify background tasks/processes
  cask "mindmac"               # llm api client
  cask "mochi"                 # study notes and flashcards
  cask "numi"                  # calculator
  cask "obs"                   # broadcasting
  cask "ollamac"               # gui for ollama
  cask "omnidisksweeper"       # cleanup disk space
  cask "onyx"                  # macos maintenance
  cask "podman-desktop"        # generic, manage containers and pods
  cask "raindropio"            # bookmark managment
  cask "rode-central"          # rode companion app (for AI-1)
  cask "signal"                # signal messaging
  cask "slack"                 # slack office communication
  cask "telegram"              # telegram messaging
  cask "the-unarchiver"        # unarchiving most archive files
  cask "topnotch"              # "hide" notch
  cask "transmission"          # torrent client
  cask "upscayl"               # upscale images with AI
  cask "utm"                   # virtual machines for macos
  cask "vivaldi"                # Browser
  cask "vlc"                   # video client
  cask "whatsapp"              # whatsapp messaging
  cask "xld"                   # cd ripper
  cask "zoom"                  # video conferencing
{{- end }}

#######################################
# Cursor
#######################################
cask "cursor"                  # editor

#######################################
# Visual Studio
#######################################
cask "visual-studio-code"     # editor

vscode "asvetliakov.vscode-neovim"   # Neovim integration
vscode "bierner.markdown-checkbox"   # Markdown checkboxes
vscode "fwcd.kotlin"                 # Kotlin
vscode "jdinhlife.gruvbox"           # Theme, Gruvbox
vscode "ms-python.python"            # Python
vscode "redhat.vscode-yaml"          # Yaml, Syntax
vscode "mk12.better-git-line-blame"  # git blame

# only on work machine
# work hostname is flakey, so check if NOT personal machine
{{- if not (eq .chezmoi.hostname "Olivers-MaxBook")
     }}
  vscode "ms-vsliveshare.vsliveshare" # collaborate with others
  vscode "GitLab.gitlab-workflow"     # gitlab
{{- end }}

# only on personal machiniie
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}
  vscode "scala-lang.scala"            # Scala, Syntax
  vscode "scalameta.metals"            # Scala, Metals
{{- end }}

