# vim: syntax=ruby filetype=ruby

aeblfdkhhhdcdjpifhhbdiojplfjncoa # 1Password
dgfnehmpeggdlmbblgjfbfioegibajlb # Completion Source Provider
eimadpbcbfnmbkopoojfekhnkhdbieeh # Dark Reader
ippkeibgeeegemmdjhlhbdlcfjkgjann # Google Maps QuickClick
knjbgabkeojmfdhindppcmhhfiembkeb # Matter
pcmpcfapbekmbjjkdalcgopdkipoggdi # MarkDownload
pkehgijcmpdhfbdbbnkijodmdjhbjlgp # Privacy Badger
ldgfbffkinooeloadekpmfoklnobpien # Raindrop.io
jaikcnhlohebodlpkmjepipngegjbfpg # Super Drag And Go
pncfbmialoiaghdehhbnbhkkgmjanfhe # uBlacklist
ddkjiahejlhfcafbddmgiahcphecmpfh # uBlock Origin Lite
dbepggeogbaibhgnhhndojpepiihcmeb # vimium

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}

  ponfpcnoihfmfllpaingbgckeeldkhle # Enhancer for YouTube
  aljlkinhomaaahfdojalfmimeidofpih # Hide YouTube Shorts
  kkfmoaflbacidmgmkddkhjfdepckmggg # No stress booking
  peifjmijpdkecmlpelpgejmekofaahki # Search Letterboxd
  mnjggcdmjocbbbhaepdhchncahnbgone # SponsorBlock for YouTube
  cpgaheeihidjmolbakklolchdplenjai # Turbo Downloader for Instagram

{{- end }}

