# vim: syntax=ruby filetype=ruby

"1Password"=aeblfdkhhhdcdjpifhhbdiojplfjncoa
"Completion Source Provider"=dgfnehmpeggdlmbblgjfbfioegibajlb
"Dark Reader"=eimadpbcbfnmbkopoojfekhnkhdbieeh
"Google Analytics Opt-out"=fllaojicojecljbmefodhfapmkghcbnh
"Google Maps QuickClick"=ippkeibgeeegemmdjhlhbdlcfjkgjann
"Matter"=knjbgabkeojmfdhindppcmhhfiembkeb
"Obsidian Web Clipper"=cnjifjpddelmedmihgijeibhnjfabmlf
"Privacy Badger"=pkehgijcmpdhfbdbbnkijodmdjhbjlgp
"Raindrop.io"=ldgfbffkinooeloadekpmfoklnobpien
"Super Drag And Go"=jaikcnhlohebodlpkmjepipngegjbfpg
"uBlacklist"=pncfbmialoiaghdehhbnbhkkgmjanfhe
"uBlock Origin Lite"=ddkjiahejlhfcafbddmgiahcphecmpfh
"vimium"=dbepggeogbaibhgnhhndojpepiihcmeb

# Only on Work machine
# work hostname is flakey, so check if NOT personal machine
{{- if not (eq .chezmoi.hostname "Olivers-MaxBook") }}

"React Developer Tools"=fmkadmapgofadopljbjfkapdkoienihi
"Redux DevTools"=lmhkpmbekcpmknklioeibfkpmmfibljd

{{- end }}

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}

"Enhancer for YouTube"=ponfpcnoihfmfllpaingbgckeeldkhle
"No stress booking"=kkfmoaflbacidmgmkddkhjfdepckmggg
"Reddit Promoted Ad Blocker"=mmnhjecbajmgkapcinkhdnjabclcnfpg
"Search Letterboxd"=peifjmijpdkecmlpelpgejmekofaahki
"SponsorBlock for YouTube"=mnjggcdmjocbbbhaepdhchncahnbgone
"Turbo Downloader for Instagram"=cpgaheeihidjmolbakklolchdplenjai

{{- end }}

