# vim: syntax=ruby filetype=ruby

aeblfdkhhhdcdjpifhhbdiojplfjncoa="1Password"
dgfnehmpeggdlmbblgjfbfioegibajlb="Completion Source Provider"
eimadpbcbfnmbkopoojfekhnkhdbieeh="Dark Reader"
ippkeibgeeegemmdjhlhbdlcfjkgjann="Google Maps QuickClick"
knjbgabkeojmfdhindppcmhhfiembkeb="Matter"
cnjifjpddelmedmihgijeibhnjfabmlf="Obsidian Web Clipper"
pkehgijcmpdhfbdbbnkijodmdjhbjlgp="Privacy Badger"
ldgfbffkinooeloadekpmfoklnobpien="Raindrop.io"
jaikcnhlohebodlpkmjepipngegjbfpg="Super Drag And Go"
pncfbmialoiaghdehhbnbhkkgmjanfhe="uBlacklist"
ddkjiahejlhfcafbddmgiahcphecmpfh="uBlock Origin Lite"
dbepggeogbaibhgnhhndojpepiihcmeb="vimium"
fllaojicojecljbmefodhfapmkghcbnh="Google Analytics Opt-out"

# Only on Work machine
{{- if eq .chezmoi.hostname "Olivers-WaxBook" }}

  fmkadmapgofadopljbjfkapdkoienihi="React Developer Tools"
  lmhkpmbekcpmknklioeibfkpmmfibljd="Redux DevTools"

{{- end }}

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}

  mmnhjecbajmgkapcinkhdnjabclcnfpg="Reddit Promoted Ad Blocker"
  ponfpcnoihfmfllpaingbgckeeldkhle="Enhancer for YouTube"
  kkfmoaflbacidmgmkddkhjfdepckmggg="No stress booking"
  peifjmijpdkecmlpelpgejmekofaahki="Search Letterboxd"
  mnjggcdmjocbbbhaepdhchncahnbgone="SponsorBlock for YouTube"
  cpgaheeihidjmolbakklolchdplenjai="Turbo Downloader for Instagram"

{{- end }}

