{{- $home := .chezmoi.homeDir -}}
{{- $identity := output "cat" (joinPath $home ".local/share/identity/data.toml") | fromToml -}}

[diff]
  pager = "delta"

[data]
  name = {{ $identity.name | quote }}

[data.personal]
  email = {{ $identity.personal.email | quote }}
