#!/bin/zsh
#
# hash: {{ include "../apps/Nodefile.tmpl" | sha256sum }}

tmpfile=$(mktemp /tmp/chezmoi-nodefile.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../apps/Nodefile.tmpl" | quote }} | chezmoi execute-template > $tmpfile

# installing the dependencies
for dependency in $(cat $tmpfile | cut -d "#" -f 1)
do
  echo "\nInstalling: $dependency\n"
  npm install -g $dependency
done
