#!/bin/zsh
#
# Krewfile hash: {{ include "../apps/Krewfile" | sha256sum }}
#
filepath={{ joinPath .chezmoi.sourceDir "../apps/Krewfile"| quote }}

# installing the plugins
for plugin in $(cat $filepath | cut -d "#" -f 1)
do
  echo "\nInstalling: $plugin\n"
  kubectl krew install $plugin
done
