#!/bin/zsh
#
# Luarocks hash: {{ include "../apps/Luarocks" | sha256sum }}

luarocks install $(cat {{ joinPath .chezmoi.sourceDir "../apps/Luarocks" | quote }} | cut -d "#" -f 1 | paste -s -d ' ' - )
