#!/bin/zsh
#
# huggingface hash: {{ include "../apps/Huggingface" | sha256sum }}

while read -r repo model; do
  # skip empty lines and lines starting with #
  [[ "$repo" =~ '^\s*$' || "$repo" =~ '^\s*#' ]] && continue

  echo "\nPulling: $repo $model\n"
  huggingface-cli download "$repo" "$model"
done < "{{ joinPath .chezmoi.sourceDir "../apps/Huggingface" | quote }}"
