#!/bin/zsh

# Brewfile hash: {{ include "../apps/Brewfile.tmpl" | sha256sum }}

tmpfile=$(mktemp /tmp/chezmoi-brew.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../apps/Brewfile.tmpl" | quote }} | chezmoi execute-template > $tmpfile

brew bundle --file $tmpfile

rm $tmpfile

