#!/bin/zsh
#
# Krewfile hash: {{ include "../Nodefile" | sha256sum }}
#
filepath={{ joinPath .chezmoi.sourceDir "../Nodefile"| quote }}

# installing the dependencies
for dependency in $(cat $filepath | cut -d "#" -f 1)
do
  echo "\nInstalling: $dependency\n"
  npm install -g $dependency
done
