#!/bin/zsh

# Cargofile hash: {{ include "../apps/Cargofile.tmpl" | sha256sum }}

tmpfile=$(mktemp /tmp/chezmoi-cargo.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../apps/Cargofile.tmpl" | quote }} | chezmoi execute-template > $tmpfile

while IFS= read -r line; do
  # Skip empty lines and comments
  [[ -z "$line" || "$line" =~ ^[[:space:]]*# ]] && continue

  # Strip inline comments and install
  cargo install $(echo "$line" | cut -d "#" -f 1)
done < $tmpfile

rm $tmpfile
