#!/bin/zsh

# Brewfile hash: {{ include "../Brewfile.tmpl" | sha256sum }}

tmpfile=$(mktemp /tmp/chezmoi-brew.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../Brewfile.tmpl" | quote }} | chezmoi execute-template > $tmpfile

brew bundle --no-lock --file $tmpfile

rm $tmpfile

