#!/bin/zsh
#
# Krewfile hash: {{ include "../apps/Krewfile.tmpl" | sha256sum }}
#
tmpfile=$(mktemp /tmp/chezmoi-krew.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../apps/Krewfile.tmpl" | quote }} | chezmoi execute-template > $tmpfile

# installing the plugins
for plugin in $(cat $tmpfile | cut -d "#" -f 1)
do
  echo "\nInstalling: $plugin\n"
  kubectl krew install $plugin
done

rm $tmpfile
