#!/bin/zsh
#
# Extensions hash: {{ include "../apss/Extensions.tmpl" | sha256sum }}

local tmpfile=$(mktemp /tmp/chezmoi-extensions.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../apps/Extensions.tmpl" | quote }} | chezmoi execute-template > $tmpfile

cat $tmpfile | cut -d "#" -f1 | while IFS= read -r line; do
  [[ -z "$line" ]] && continue
  local name=$(echo $line | cut -d "=" -f1 | xargs)
  local id=$(echo $line | cut -d "=" -f2)
  echo "Installing $name"
  extension install arc $id
done

