#!/bin/zsh
#
# Luarocks hash: {{ include "../apps/Luarocks.tmpl" | sha256sum }}

tmpfile=$(mktemp /tmp/chezmoi-luarocks.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../apps/Luarocks.tmpl" | quote }} | chezmoi execute-template > $tmpfile

luarocks install $(cat $tmpfile | cut -d "#" -f 1 | paste -s -d ' ' - )

rm $tmpfile
