#!/bin/zsh

# Gofile hash: {{ include "../apps/Gofile.tmpl" | sha256sum }}

GOPATH="$HOME/Frameworks/go"
GOBIN="$GOPATH/bin"
mkdir -p "$GOBIN"

tmpfile=$(mktemp /tmp/chezmoi-go.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../apps/Gofile.tmpl" | quote }} | chezmoi execute-template > $tmpfile

for package in $(cat $tmpfile | cut -d "#" -f 1)
do
    go install $package
done

rm $tmpfile

# Disable Go telemetry data collection and uploading
echo "Go telemetry: turning off"
gotelemetry off
