#!/bin/zsh
#
# Extensions hash: {{ include "../Extensions.tmpl" | sha256sum }}

tmpfile=$(mktemp /tmp/chezmoi-extensions.XXXXXX)

cat {{ joinPath .chezmoi.sourceDir "../Extensions.tmpl" | quote }} | chezmoi execute-template > $tmpfile

for extension in $(cat $tmpfile | cut -d "#" -f 1)
do
  extension install arc $extension
done

