# vim: syntax=ruby filetype=ruby

#######################################
# Taps
#######################################
# taps are shared, as any package "might" be needed
#
tap "cristianoliveira/tap"    # aerospace-scratchpad
tap "felixkratz/formulae"     # sketchybar
tap "nikitabobko/tap"         # aerospace
tap "keith/formulae"          # reminders-cli
tap "oschrenk/made"           # tools created by myself
tap "oschrenk/personal"       # casks/formula managed by me
tap "sass/sass"               # sass
tap "txn2/tap"                # kubefwd

# You can list all packages installed via `brew leaves`

#######################################
# Xcode
#######################################
# Installing XCode is VERY slow, but it
# is required by a handful of packages
#
# NOTE: managed by nix (modules/brew/gui.nix)

#######################################
# Packages
#######################################
#
# core (cli)
brew "blueutil"      # system, get/set bluetooth from terminal
brew "coreutils"     # system, GNU core utilities
brew "curl"          # system, download things
brew "direnv"        # system, auto load env
brew "gawk"          # system, GNU awk utility
brew "htop"          # system, improved top
brew "lsd"           # system, "better" ls
brew "page"          # system, Use Neovim as pager
brew "rclone"        # system, sync files
brew "rsync"         # system, sync files
brew "tree"          # system, print file tree
brew "watch"         # system, issue commands at regular interval
brew "smartmontools" # hardware, harddrive, read ssd info
brew "telnet"        # network, telnet protocol

# extra (cli)
brew "shellcheck"    # shell, linter
brew "witr"          # cli, why is this running

# crypto
brew "croc"          # cryptography, secure data transfer
brew "minisign"      # cryptography, sign files and verify signatures

# productivity
brew "keith/formulae/reminders-cli" # cli, reminders
brew "glow"          # cli, render markdown in terminal
brew "oschrenk/made/plan" # cli, fetch next event
brew "zola"          # web, blogging engine

# ai
brew "llm"           # ai, llm on cli
brew "ollama"        # ai, local models
brew "oschrenk/personal/dora" # ai, navigate code with scip
brew "oschrenk/made/meter" # ai, claude, measure usage
brew "tweakcc"       # ai, claude, customize

# data
brew "jd"            # data, diff JSON
brew "jq"            # data, process JSON (read/transform)
brew "jsongrep"      # data, process JSON (read only)
brew "mdq"           # data, process markdown like jq
brew "miller"        # data, process CSV
brew "xq"            # data, process xml
brew "yq"            # data, process YAML

# database
brew "lazysql"       # cli, sql
brew "libpq"         # postgres, cli
brew "pgformatter"   # postgres, formatter

# development
brew "prettier"      # generic, code formatter
brew "prettierd"     # generic, code formatter
brew "go-task"       # generic, go-based task runner
brew "yamlfmt"       # yaml, formatter

# editor
brew "tree-sitter-cli" # nvim, requirement

# git
brew "git-crypt"     # git, encrypt secrets in git
brew "git-delta"     # git, better looking diffs
brew "git-extras"    # git, nice git extras
brew "git-open"      # git, open git[hub/lab] urls
brew "gh"            # cli, interact with github
brew "glab"          # git, gitlab cli
brew "oschrenk/made/arbol" # git, repository manager
brew "oschrenk/made/infuse" # git, repository mixer
brew "worktrunk"     # git, worktree managment

# golang
brew "go"            # go, language
brew "golangci-lint" # go, linter runner
brew "gopls"         # go, lsp

# k8
brew "helm"          # k8s, package manager
brew "k9s"           # k8s, cluster manager
brew "krew"          # k8s, kubectl package manager
brew "kube-linter"   # k8s, lint k8s yaml and helm
brew "kubectx"       # k8s, switch k8s contexts
brew "kubernetes-cli"# k8s, cli
brew "kubescape"     # k8s, scan cluster for security issues
brew "kustomize"     # k8s, resource transformers
brew "minikube"      # k8s, run local k8s
brew "txn2/tap/kubefwd" # k8s, bulk port forwarding

# kotlin
brew "kotlin"        # kotlin
brew "ktfmt"         # kotlin, formatter
brew "ktlint"        # kotlin, formatter

# lua
brew "lua"                 # lua, programming language
brew "lua-language-server" # lua, lsp
brew "luarocks"            # lua, package manager
brew "stylua"              # lua formatter

# web (javascript, typescript, css, ...)
brew "fnm"           # javascript, version manger
brew "hurl"          # network, run/test http requests
brew "node"          # javascript, language
brew "oschrenk/made/cutter" # web, extract cookies
brew "oven-sh/bun/bun" # javascript runtime
brew "sass/sass/sass" # js, sass
brew "typescript"    # typescript, language
brew "typescript-language-server" # typescript, lsp
brew "yarn"          # javascript, package manager

# jvm
brew "openjdk@17"    # jvm, sdk
brew "openjdk@21"    # jvm, sdk
brew "openjdk"       # jvm, sdk
brew "oschrenk/personal/scip" # cli, source indexer
brew "oschrenk/personal/scip-typescript" # cli, index ts

# pkl
brew "pkl"           # pkl, language
brew "pkl-lsp"       # pkl, lsp

# python
brew "poetry"        # python, package manager
brew "pyenv"         # python, version manager
brew "python@3.13"   # python, language
brew "python@3.14"   # python, language

# rust
brew "rust"          # rust, language

# swift
brew "swiftformat"   # swift, format
brew "swiftlint"     # swift, lint, requires Xcode
brew "swiftly"       # swift, toolchain manager


brew "asciinema"   # a/v, record terminal sessions
brew "coursier"    # jvm, scala, artifact fetching
brew "doggo"       # network, dns client
brew "exiftool"    # a/v, read/write exif
brew "ffmpeg"      # a/v, convert audio/video
brew "flac"        # a/v, flac codec
brew "gallery-dl"  # a/v, download gallery
brew "httrack"     # network, copy websites offline
brew "lame"        # a/v, mp3 codec
brew "libmp3splt"  # a/v, split mp3, off, flac files
brew "meli"        # terminal, email client
brew "mosh"        # network, better shell for roaming
brew "ngrep"       # network, packet analyzer
brew "nmap"        # network,port scanning
brew "pandoc"      # docs, document converter
brew "poppler"     # pdf, engine and extractor
brew "sbt"         # jvm, scala
brew "scala"       # jvm, scala
brew "tag"         # terminal, interact with macOS file tags
brew "tfenv"       # devops, terraform version manager
brew "typst"       # typst, tex alternative (rust based)
brew "uv"          # python package manager
brew "x264"        # a/v, h264 encoder
brew "xvid"        # a/v, mp4 lib
brew "yt-dlp"      # a/v, download youtube video/audio

#######################################
# Casks
#######################################

cask "claude-code"            # ai, claude
brew "container"              # cli, containerization from Apple

#######################################
# Apps
#######################################

# install on server for access to health data
mas "Health Auto Export", id: 1115567069   # export apple health data

