# vim: syntax=ruby filetype=ruby
#
# bootstrap
cargo-update --version 20.0.0 # bootstrap, check for updates
#
# pinned versions
# - check for updates: `cargo install-update --list | grep Yes`
#
#
# not on crates.io, version not pinned, cargo-update won't track this
