# vim: syntax=ruby filetype=ruby
comodoro --locked --git https://github.com/pimalaya/comodoro.git # terminal, timer
firemark    # cli, watermark images/pdf
git-context # manage mixed git repositories
git-stack # git, manage stack pr's
himalaya --locked --features oauth2 # terminal, email client
jx          # json viewer
mirador --locked --features oauth2 --git https://github.com/pimalaya/mirador.git # email wathcer
ortie       # oauth2 cli
slack-cli   # slack cli
sleek       # sql formatter
taplo-cli   # toml formatter
typstyle    # formatter for the typst language
