# vim: syntax=ruby filetype=ruby

# shared
"1Password"=aeblfdkhhhdcdjpifhhbdiojplfjncoa
"Completion Source Provider"=dgfnehmpeggdlmbblgjfbfioegibajlb
"Dark Reader"=eimadpbcbfnmbkopoojfekhnkhdbieeh
"Google Analytics Opt-out"=fllaojicojecljbmefodhfapmkghcbnh
"Google Maps QuickClick"=ippkeibgeeegemmdjhlhbdlcfjkgjann
"Matter"=knjbgabkeojmfdhindppcmhhfiembkeb
"Obsidian Web Clipper"=cnjifjpddelmedmihgijeibhnjfabmlf
"Privacy Badger"=pkehgijcmpdhfbdbbnkijodmdjhbjlgp
"Raindrop.io"=ldgfbffkinooeloadekpmfoklnobpien
"Super Drag And Go"=jaikcnhlohebodlpkmjepipngegjbfpg
"uBlacklist"=pncfbmialoiaghdehhbnbhkkgmjanfhe
"uBlock Origin Lite"=ddkjiahejlhfcafbddmgiahcphecmpfh
"vimium"=dbepggeogbaibhgnhhndojpepiihcmeb

# work
"React Developer Tools"=fmkadmapgofadopljbjfkapdkoienihi
"Redux DevTools"=lmhkpmbekcpmknklioeibfkpmmfibljd

# personal
"Enhancer for YouTube"=ponfpcnoihfmfllpaingbgckeeldkhle
"No stress booking"=kkfmoaflbacidmgmkddkhjfdepckmggg
"Reddit Promoted Ad Blocker"=mmnhjecbajmgkapcinkhdnjabclcnfpg
"Search Letterboxd"=peifjmijpdkecmlpelpgejmekofaahki
"SponsorBlock for YouTube"=mnjggcdmjocbbbhaepdhchncahnbgone
"Turbo Downloader for Instagram"=cpgaheeihidjmolbakklolchdplenjai
