# vim: syntax=ruby filetype=ruby

"1Password"=aeblfdkhhhdcdjpifhhbdiojplfjncoa
"Completion Source Provider"=dgfnehmpeggdlmbblgjfbfioegibajlb
"Dark Reader"=eimadpbcbfnmbkopoojfekhnkhdbieeh
"DeArrow"=enamippconapkdmgfgjchkhakpfinmaj
"Enhancer for YouTube"=ponfpcnoihfmfllpaingbgckeeldkhle
"Google Analytics Opt-out"=fllaojicojecljbmefodhfapmkghcbnh
"Google Maps QuickClick"=ippkeibgeeegemmdjhlhbdlcfjkgjann
"Matter"=knjbgabkeojmfdhindppcmhhfiembkeb
"Obsidian Web Clipper"=cnjifjpddelmedmihgijeibhnjfabmlf
"Reddit Promoted Ad Blocker"=mmnhjecbajmgkapcinkhdnjabclcnfpg
"Search Letterboxd"=peifjmijpdkecmlpelpgejmekofaahki
"SponsorBlock for YouTube"=mnjggcdmjocbbbhaepdhchncahnbgone
"Super Drag And Go"=jaikcnhlohebodlpkmjepipngegjbfpg
"Turbo Downloader for Instagram"=cpgaheeihidjmolbakklolchdplenjai
"uBlacklist"=pncfbmialoiaghdehhbnbhkkgmjanfhe
"uBlock Origin Lite"=ddkjiahejlhfcafbddmgiahcphecmpfh
"vimium"=dbepggeogbaibhgnhhndojpepiihcmeb
