# vim: filetype=ruby
#
# bootstrap
#
# pinned versions
# - check for updates:
#   `go-global-update --dry-run 2>&1 | grep -v oschrenk | grep -v up-to-date | grep -Ev "^meter|^tui-datepicker"`
#   - meter: own package, published to proxy but built from local dirty checkout
#   - tui-datepicker: own package, built from local (devel) checkout
#
github.com/nalgeon/howto@v0.2.1               # ai, cli
github.com/open-pomodoro/openpomodoro-cli/cmd/pomodoro@v0.3.0 # pomodoro
github.com/spf13/cobra-cli@v1.3.0             # cli generator
honnef.co/go/tools/cmd/staticcheck@v0.7.0    # static checker
zgo.at/uni/v2@v2.9.0                          # unicode lookup
#
# no tagged releases, version not pinned
golang.org/x/telemetry/cmd/gotelemetry@latest # manage go telemetry settings (used to turn it off)
