# vim: filetype=ruby
#
# pinned versions
#
github.com/air-verse/air@v1.64.5              # watch file changes
github.com/catilac/plistwatch@latest          # watch plist changes
github.com/dbohdan/recur@v1.1.1               # repeat commands
github.com/jesseduffield/lazydocker@v0.25.0   # docker cli
github.com/nalgeon/howto@v0.2.1               # ai, cli
github.com/open-pomodoro/openpomodoro-cli/cmd/pomodoro@v0.3.0 # pomodoro
github.com/spf13/cobra-cli@v1.3.0             # cli generator
honnef.co/go/tools/cmd/staticcheck@v0.7.0    # static checker
zgo.at/uni/v2@v2.9.0                          # unicode lookup
#
# no tagged releases, version not pinned
golang.org/x/telemetry/cmd/gotelemetry@latest # manage go telemetry settings (used to turn it off)
