# vim: filetype=ruby

# Only on Personal machine
{{- if eq .chezmoi.hostname "Olivers-MaxBook" }}

  # https://github.com/FradSer/mcp-server-apple-reminders
  mcp-server-apple-reminders

{{- end }}

# https://github.com/anthropics/claude-code
@anthropic-ai/claude-code
